html,
body {
  overflow-x: hidden;
}

strong {
  font-weight: 700;
}

header {
  z-index: 1000;
}

section {
  position: relative;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

section.background-gray-lighter {
  background: #eee;
}

section.background-gray-lightest {
  background: #f5f5f5;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

section.background-secondary {
  background: #746EA9;
  border-top: solid 1px #46426f;
  border-bottom: solid 1px #46426f;
}

.section-inverse {
  color: #fff;
}

.section-inverse h1,
.section-inverse h2,
.section-inverse h3,
.section-inverse h4,
.section-inverse h5,
.section-inverse h6 {
  color: #fff;
}

.section-inverse .heading:after {
  background: #fff;
}

.no-space .box {
  margin: 0 -0.9375rem;
}

.margin-top {
  margin-top: 1.875rem;
}

.margin-top--big {
  margin-top: 3.75rem !important;
}

.margin-bottom {
  margin-bottom: 1.875rem;
}

.margin-bottom--big {
  margin-bottom: 3.75rem !important;
}

.padding--small {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.weight-300 {
  font-weight: 300 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.text-gray {
  color: #555;
}

.text-gray-light {
  color: #999;
}

.text-gray-lighter {
  color: #eee;
}

a,
button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.clickable {
  cursor: pointer !important;
}

.required {
  color: #F0807F;
}

.accent {
  color: #F0807F;
}

.icon {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  border-radius: 1.875rem;
  border: solid 1px #F0807F;
  color: #F0807F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.875rem;
  margin: 0 auto 1.875rem;
  text-align: center;
}

.icon.brand-secondary {
  border-color: #746EA9;
  color: #746EA9;
}

.icon.brand-terciary {
  border-color: #41A6CA;
  color: #41A6CA;
}

.icon.brand-four {
  border-color: #34314c;
  color: #34314c;
}

/*

=========================================================
SIDEBAR + RIGHT COLUMN
=========================================================

*/
#sidebar {
  padding-top: 2.5rem;
}

@media (min-width: 576px) {
  .sidebar-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.sidebar-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.sidebar-heading a {
  color: #F0807F;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar-heading a:hover {
  border-bottom: dotted 1px #F0807F;
  color: #7f8082;
  text-decoration: none;
}

.sidebar-p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #7f8082;
  font-size: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding-left: 1.25rem;
  margin-bottom: 2.5rem;
}

.sidebar-item {
  margin-bottom: 0.85rem;
}

.sidebar-item.active > a, .sidebar-item.current-menu-item > a {
  color: #F0807F;
  font-weight: bold;
}

.sidebar-item.active:before, .sidebar-item.current-menu-item:before {
  color: #F0807F;
}

.sidebar-item a:hover {
  text-decoration: none;
  color: #F0807F;
}

.sidebar-item .sub-menu {
  list-style: none;
  padding-left: 0.625rem;
  margin: 0.625rem 0;
}

.sidebar-item .sub-menu a {
  color: #7f8082;
}

.sidebar-item .sub-menu a:hover {
  color: #F0807F;
}

.sidebar-item .sub-menu li.active > a,
.sidebar-item .sub-menu li.current-menu-item > a {
  color: #F0807F;
  font-weight: bold;
}

.sidebar-item .sub-menu li.active:before,
.sidebar-item .sub-menu li.current-menu-item:before {
  color: #F0807F;
}

.sidebar-link {
  color:  	#7f8082;
}

.sidebar-link:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 0.85rem 0 -0.9375rem;
  color: #7f8082;
}

.sidebar-link.active {
  color: #F0807F;
  font-weight: bold;
}

.sidebar-link.active::before {
  color: #F0807F;
}

.sidebar-link:hover::before {
  color: #F0807F;
}

.content-column {
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .content-column {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.content-column.white-background {
  background: #fff;
  min-height: 100vh;
}

.grid {
  padding-top: 0.85rem;
  overflow: hidden;
}

.content-column-content p.lead {
  color: #555;
}

.content-column-content p,
.content-column-content li {
  color: #999;
}

.content-column-content ul li {
  list-style-type: none;
}

.content-column-content ul li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 0.85rem 0 -0.9375rem;
  color: #F0807F;
}

.content-column-content h1,
.content-column-content h2,
.content-column-content h3,
.content-column-content h4,
.content-column-content h5,
.content-column-content h6,
.content-column-content p,
.content-column-content form,
.content-column-content ul,
.content-column-content ol {
  margin-bottom: 2rem;
}

.small-navbar {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.small-navbar-heading {
  display: block;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

.small-navbar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.small-navbar-heading a:hover {
  border-bottom: dotted 1px #F0807F;
  color: #000;
  text-decoration: none;
}

/*

=========================================================
OFF-CANVAS SIDEBAR BEHAVIOUR
=========================================================

*/
@media (max-width: 767.98px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    opacity: 1;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -48%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

/*

=========================================================
SERVICES / INTEGRATIONS
=========================================================

*/
.services {
  margin-top: 5rem;
  text-align: center;
}

.services .services-heading {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  color: #999;
  margin-bottom: 2.5rem;
}

.services .heading {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  text-align: center;
}

.services .heading:after {
  content: " ";
  display: block;
  width: 6.25rem;
  height: 1px;
  margin: 1.25rem auto 1.25rem;
  background: #F0807F;
}

.services p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 3.75rem;
  color: #999;
}

/*

=========================================================
SOCIAL LINKS
=========================================================

*/
.contact-form {
  margin-bottom: 1.25rem;
}

p.social {
  margin-top: 1.25rem;
}

p.social a {
  margin: 0 0.625rem 0.625rem 0;
  color: #fff;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  line-height: 2.5rem;
  font-size: 0.9375rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  border: solid 1px #7f8082;
  color: #7f8082;
  transition: all 0.3s;
  /*
             &.facebook {background-color: #4460ae; border-color: #4460ae;}
             &.gplus {background-color: #c21f25; border-color: #c21f25;}
             &.twitter {background-color: #3cf; border-color: #3cf;}
             &.instagram {background-color: #cd4378; border-color: #cd4378;}
             &.email {background-color: #4a7f45; border-color: #4a7f45;}
             &.link {background-color: #871AFF; border-color: #871AFF;}
             */
}

p.social a:hover {
  color: #F0807F;
  border-color: #F0807F;
}

p.social a i {
  vertical-align: bottom;
  line-height: 2.5rem;
}

p.social.social--outline a {
  background: transparent;
}


p.social.social--big a {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  line-height: 3.75rem;
  font-size: 1.56rem;
}

p.social.social--big i {
  line-height: 3.75rem;
}

/*

=========================================================
COPYRIGHT
=========================================================

*/
.copyright {
  color: #7f8082;
  font-size: 0.8125rem;
}

.copyright p.credit {
  margin-bottom: 0.625rem;
}

.copyright p.credit a {
  color: #7f8082;
}

/*

=========================================================
MAIN PORTFOLIO SLIDER
=========================================================

*/
#main-slider {
  margin-bottom: 0.5rem;
}

#main-slider ul li div {
  width: 100%;
  height: 80%;
}

#main-slider .owl-wrapper-outer {
  -webkit-box-shadow: 0 1px 0.85rem #ccc;
  box-shadow: 0 1px 0.85rem #ccc;
}

#main-slider .owl-controls .owl-buttons {
  display: none;
}

#main-slider .owl-controls .owl-page.active span,
#main-slider .owl-controls.clickable .owl-page:hover span {
  background: #F0807F;
}

/*

=========================================================
ABOUT
=========================================================

*/
.progress-title {
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
  font-size: 0.78rem;
}

.progress-bar-skill1 {
  background: #ffd9d9;
}

.progress-bar-skill2 {
  background: #ffc0c0;
}

.progress-bar-skill3 {
  background: #ffa7a6;
}

.progress-bar-skill4 {
  background: #ff8d8d;
}

.progress-bar-skill5 {
  background: #F0807F;
}

.skill-item {
  margin-bottom: 1rem;
}

.skill-item:last-of-type {
  margin-bottom: 3rem;
}

.progress {
  height: 1.5rem;
  border-radius: 0;
}

/* breadcrumbs */
.breadcrumb {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
}

.masonry-item {
  margin-bottom: 2rem;
}

.tile-link {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

.box-masonry {
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
}

.box-masonry h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.box-masonry h4 a {
  color: #000;
  border-bottom: solid 1px transparent;
}

.box-masonry h4 a:hover {
  border-bottom: dotted 1px #F0807F;
  color: #000;
  text-decoration: none;
}

.box-masonry .box-masonry-text {
  padding: 1rem 1.25rem 1rem;
}

.box-masonry .box-masonry-text p {
  color: #999;
  font-size: 0.95rem;
}

.box-masonry .box-masonry-hover-text-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 1.25rem 1rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #555;
}

.box-masonry .box-masonry-hover-text-header p {
  font-size: 0.875rem;
}

.box-masonry .box-masonry-hover-text-header h4 a {
  color: #555;
}

.box-masonry .box-masonry-hover-center {
  position: absolute;
  width: 100%;
  top: 30%;
  opacity: 0;
  padding-left: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.box-masonry .box-masonry-hover-center .see-more-icon {
  color: #555;
  font-size: 3.125rem;
}

.box-masonry:hover {
  margin-top: -5px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.box-masonry:hover .box-masonry-hover-text-header {
  opacity: 1;
}

.box-masonry:hover .box-masonry-hover-center {
  opacity: 1;
}

.box-masonry:hover .box-masonry-image.with-hover-overlay:before {
  opacity: 0.8;
}

.box-masonry:hover .box-masonry-image.with-hover-icon:after {
  opacity: 0.7;
}

.box-masonry h2:last-child,
.box-masonry p:last-child {
  margin-bottom: 0;
}

.box-masonry .box-masonry-image {
  display: block;
  position: relative;
  min-height: 6.25rem;
  background: #ccc;
}

.box-masonry .box-masonry-image.with-hover-overlay:before {
  display: block;
  position: absolute;
  content: " ";
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box-masonry .box-masonry-image.with-hover-icon:after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'FontAwesome';
  content: '\f105';
  text-align: center;
  font-size: 3.125rem;
  color: #555;
}

.box-masonry .box-masonry-image:hover {
  text-decoration: none;
}

.comment-list {
  list-style-type: none;
  padding-left: 0;
}

.comment-list li:before {
  content: "";
  display: none;
  margin: 0;
}

.comments-title {
  text-transform: uppercase;
  color: #999;
  font-size: 1.5rem;
}

.comment-body {
  margin-bottom: 1.25rem;
}

.comment-meta {
  clear: both;
  margin-bottom: 1.25rem;
}

.comment-author {
  font-family: inherit;
  text-transform: uppercase;
  color: #999;
  font-size: 0.875rem;
  float: left;
}

.comment-metadata {
  float: right;
  font-family: inherit;
  text-transform: uppercase;
  color: #999;
  font-size: 0.875rem;
}

.comment-content {
  font-weight: 300;
}

.comment-reply-link {
  font-size: 0.875rem;
}

.avatar {
  border-radius: 50%;
}

.comment-respond {
  margin-top: 2.5rem;
}

.post-navigation {
  margin-bottom: 2.5rem;
}

.comment-reply-title {
  font-size: 1.5rem;
}

.entry-meta {
  color: #999;
  font-size: 0.875rem;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #F0807F;
}

/*

=====================
STYLE SWITCHER FOR DEMO
=====================

*/
#style-switch-button {
  position: fixed;
  bottom: 120px;
  left: 0px;
  border-radius: 0;
  z-index: 2;
  color: #fff;
}

#style-switch {
  width: 300px;
  padding: 20px;
  position: fixed;
  bottom: 160px;
  left: 0;
  background: #fff;
  border: solid 1px #555;
  z-index: 2000;
}

#style-switch h4 {
  color: #252525;
}
